<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ait.mainactivity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:screenOrientation="portrait"
            android:name=".LogInSignUpActivity"
            android:label="@string/title_activity_log_in_sign_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".CamActivity"
            android:label="@string/title_activity_cam"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDc44IZ1MDzV3ycMJ3GjB-a9mfEb4Yk74A" />

        <activity
            android:screenOrientation="portrait"
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ait.mainactivity.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>